



.overlay {
    position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(3px);
        z-index: 1;
        display: flex;
            align-items: center;
            justify-content: center;
}
.modal {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    max-width: 280px;
    padding: 48px 20px 40px;
    min-height: 250px;
    position: absolute;
    top: 20px;
    z-index: 2;
    background-color: #FFFFFF;

    @media screen and (min-width: 768px) {
            top: 219px;
            max-width: 704px;
            padding: 40px 71px 40px 36px;
            max-height: 552px;
            flex-direction: row;
            gap: 68px;

        }
    @media screen and (min-width: 1280px) {
        top: 150px;
        max-width: 806px;
        padding:  40px 12px;
        gap: 16px;
                }
}
.modal__button-cls {
    width: 30px;
    position: absolute;
    top: 16px;
    right: 16px;
}

.modal__image {
    min-width: 240px;
    height: 357px;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
        min-width: 264px;
            height: 374px;
        margin-bottom: 0px;
    }

           @media screen and (min-width: 1280px) {
            min-width: 375px;
                height: 472px;
           }
    
}

.modal__title{
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.15;
margin-bottom: 20px;
    @media screen and (min-width: 1280px) {
    font-size: 30px;
        line-height: 1.17;
    }

}

.modal__table{
    width: 215px;
    margin-bottom: 20px;
}



.modal__td{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.33;
        width: 100px;
        color: #8C8C8C;
}

.modal__td-right{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.16;
}
.modal__vote{
    padding: 1px 9px;
    border-radius: 5px;
    background-color: #FF6B01;
    color: #FFFFFF;
    
}
.modal__votes{
    padding: 1px 9px;
        border-radius: 5px;
        background-color: #F7F7F7;
}
.modal__description{
    font-weight: 500;
        font-size: 12px;
        line-height: 1.33;
        text-transform: uppercase;

        margin-bottom: 8px;

}

.modal__text{
    font-weight: 500;
        font-size: 12px;
        line-height: 1.67;
        margin-bottom: 20px;
        min-height: 236px;

@media screen and (min-width: 768px) {
        height: 236px;
        overflow: auto;
    }

        @media screen and (min-width: 1280px) {
                margin-bottom: 25px;
                height: 160px;
            }
}

.modal__flex{
    display: flex;
    gap: 20px;
    @media screen and (min-width:  768px) {
            gap: 15px;
        }
}

.modal__button{
    min-width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.33;
        border-radius: 5px;
        cursor: pointer;

       
        
}

.modal__button--watched{
    
padding: 6px 27px;
background-color: #FF6B01;
border: none;
color: #FFFFFF;
@media screen and (min-width: 768px) {
    padding: 14px 12px 12px 12px;
    white-space: nowrap;
    min-width: 125px;
    
}
 @media screen and (min-width: 1280px) {
     min-width: 136px;
 }
}

.modal__button--queue{
border: 1px solid #000000;
padding: 13px;
white-space: nowrap;
@media screen and (min-width: 768px) {
        min-width: 125px;
        padding: 14px 7px 12px 7px;
    }
         @media screen and (min-width: 1280px) {
             min-width: 136px;
         }
}










