:root {
  --animation: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  --black: #10181d;
}
@import '../base/container';
@import '../base/base';
@import '../base/resets';

// utilits
@import '../utilits/common';
@import '../utilits/vars';
@import '../utilits/visually-hidden';

// elements
@import '../film-card/film-card';

.image {
  width: 100%;
  height: 753px;
}

.backdrop__press {
  position: fixed;
  top: 0;
  overflow-y: auto;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity var(--animation), visibility var(--animation);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.third-press__header {
  width: 100%;
  height: 70px;
  background-color: #dfdede;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 10px #fff;
  margin-bottom: 30px;
  gap: 30px;

  &--text {
    font-size: large;
    background-color: var(--accent-color);
    border-radius: 5px;
    padding: 15px;
    font-size: 13px;
    @media screen and (min-width: 768px) {
      font-size: 18px;
    }
  }
}

.backdrop__press--list {
  align-items: start;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}

.third-backdrop {
  background-color: var(--black);
}

.btn__press {
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  padding: 12px 24px;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color var(--animation), box-shadow var(--animation),
    opacity var(--animation), visibility var(--animation);

  &:hover {
    box-shadow: (0px 8px 43px var(--accent-color));
    background-color: var(--accent-color);
    border: none;
  }
}

.first-btn__press,
.second-btn__press {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.press-overlay {
  position: absolute;
  padding: 0 24px;
  width: 200px;
  height: 101%;
  color: var(--light-txt-clr);
  top: 0;
  transform: translateY(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 107, 8, 0.9);
  transition: transform var(--animation);
  left: 0;
}

.press__item {
  width: 200px;
  background-color: #dfdede;
  border-radius: 5px;
  transition: box-shadow var(--animation);

  &:hover {
    box-shadow: (7px -7px 21px var(--accent-color));
  }
}

.press__item:hover .press-overlay,
.press__item:focus .press-overlay {
  transform: translateY(0);
}

.press-anim {
  position: relative;
  overflow: hidden;
}

.third-btn__press {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);

  &:hover {
    color: #dfdede;
  }
}

.first-backdrop {
  z-index: 1000;

  background-image: url(../../images/presentation/pres_mob.jpg);
  background-size: contain;

  @media screen and (min-width: 768px) {
    background-image: url(../../images/presentation/pres_big.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 753px;
    background-size: cover;
  }
}

.main-press__title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dfdede;
  font-size: 55px;
  margin-top: 150px;

  @media screen and (min-width: 768px) {
    margin-top: 15px;
    margin-right: 15px;
    align-items: start;
  }
}

.second-press__title {
  position: absolute;
  top: 150px;
  left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dfdede;
  font-size: 55px;
}

.second-press__undertitle {
  position: absolute;
  top: 500px;
  left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dfdede;
  font-size: 55px;
}

.second-backdrop {
  z-index: 990;
  position: fixed;
}

.third-backdrop {
  z-index: 980;
}

.fourth-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  margin-top: 60px;
}

.fourth-thumb {
  position: fixed;

  width: 100%;
  height: 100%;
  background-color: #10181d;
  z-index: 970;
}

.fourth-rightside {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: inside;
}

.rightside-text {
  color: #dfdede;
  font-size: 25px;
}

.rightside-text::marker {
  color: var(--accent-color);
  font-size: 30px;
}

.title-client {
  color: #dfdede;

  font-size: 40px;
}

.fourth-client {
  box-shadow: (0px 8px 43px var(--accent-color));
  background-color: var(--accent-color);
  border-radius: 5px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.fourth-image {
  box-shadow: (0px 8px 43px var(--accent-color));
}

.fourth-btn__press:hover,
.fifth-btn__press:hover,
.sixth-btn__press:hover {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  background-color: #dfdede;
}

.fifth-backdrop {
  background-color: #10181d;
  width: 100%;
  height: 100%;
  z-index: 960;
}

.fifth-header {
  box-shadow: (0px 8px 43px var(--accent-color));
  background-color: var(--accent-color);
  border-radius: 5px;
  padding: 15px;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  color: #dfdede;
}

.fifth-title {
  color: #dfdede;

  font-size: 40px;
}

.fifth-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: inside;
}

.fifth-text {
  color: #dfdede;
  font-size: 25px;
}

.fifth-text::marker {
  color: var(--accent-color);
  font-size: 30px;
}

.fifth-block {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  gap: 100px;
}

.fifth-way {
  width: 100%;
  height: 100%;
}
@import './heart.scss';

.sixth-backdrop {
  background-color: #10181d;
  z-index: 950;
  width: 100%;
  height: 100%;
}

.sixth-group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 100px;
  gap: 100px;

  &-list {
    display: flex;
    flex-direction: column;
    list-style: inside;
  }
  &-text {
    color: #dfdede;
    font-size: 25px;

    &::marker {
      color: var(--accent-color);
      font-size: 30px;
    }
  }

  &-title {
    color: #dfdede;
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 30px;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 4px;
      left: 0;
      bottom: -1px;
      background-color: var(--accent-color);
      border-radius: 2px;
      box-shadow: (0px 8px 43px var(--accent-color));
    }
  }
}

.last-backdrop {
  background-image: url(../../images/presentation/last-slide.jpg);

  background-size: contain;
  background-position: center;
}

.last-title {
  background-color: #10181d;
  color: #dfdede;
  border-radius: 5px;
  padding: 15px;
  font-size: 80px;
}

.last-block {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.last-link {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: box-shadow var(--animation);

  &:hover {
    box-shadow: (0px 8px 43px var(--accent-color));
  }
}

.last-image {
  width: 308px;
  border-radius: 5px;
}
