<main class="gallery-bg">

<h1 class="visually-hidden">Фільмотека</h1>

  <!-- Gallery -->

  <div class="container cont_gallery">
    <div class="loader"></div>
    <div class="loader_modal visually-hidden"></div>
    
    <ul class="gallery">
       <!-- Заглушка -->
       <li class="gallery_pin">Sorry, there are no movies to display</li>
    </ul>

    <!-- Пагінація -->
    <div class="container-poginnation gallery">
      <div id="pagination" class="tui-pagination"></div>
    </div>

  </div>

</main>
