<footer class="footer">
  <ul class="container footer__list">
    <li class="footer__item">&copy; 2023 &#124;</li>
    <li class="footer__item">All Rights Reserved &#124;</li>
    <li class="footer__item">
      Developed with by
      <svg class="footer__heart" width="25px">
        <use href="./images/sprite.svg#heart"></use>
      </svg>
      <a class="footer__link text-underline" href="./presentation.html"
        >GoIT Students</a
      >
    </li>
  </ul>

  <div class="chevronup__container">
    <a class="link chevronup__link" href="#top">
      <svg class="footer__heart" width="25px">
        <use href="./images/sprite.svg#arrow-up"></use>
      </svg>
    </a>
  </div>
</footer>
