<header>
  <div class="headar_contaiter">
    <div class="navlogo-search_container">
        <div class="navlogo_container">
        <a href="/src/index.html" class="logo">
          <img class="logo_img" src="/src/images/headerimg/film.png" alt="logo" height="24" width="24">
          <span class="logo_text">Filmoteka</span>
        </a>
      <nav class="navlink">
        <ul class="navlink_list">
          <li class="navlink_item actual_page"><a href="">Home</a></li>
          <li class="navlink_item"><a href="/src/library.html">My library</a></li>
        </ul>
      </nav>
    </div>
    <div class="search_container">
      <div class="search_inputbutton">
        <input type="text" class="search_input" placeholder="Movie search">
        <button class="search_button">
          <img src="/src/images/headerimg/search2.svg" alt="search" height="12" width="12">
        </button>
      </div>
      <p class="search_nofind">Search result not successful. Enter the correct movie name and </p>
    </div>
    </div>
  </div>
</header>
