<header>
  <div class="headar__contaiter container">
    <div class="navlogo-search__container">
        <div class="navlogo__container">
        <a href="/src/index.html" class="logo">
          <img class="logo__img" src="/src/images/headerimg/film.png" alt="logo" height="24" width="24">
          <span class="logo__text">Filmoteka</span>
        </a>
      <nav class="navlink">
        <ul class="navlink__list">
          <li class="navlink__item actual__page"><a href="">Home</a></li>
          <li class="navlink__item"><a href="/src/library.html">My library</a></li>
        </ul>
      </nav>
    </div>
    <div class="search__container">
      <div class="search__inputbutton">
        <input type="text" class="search__input" placeholder="Movie search">
        <button class="search__button">
          <img src="/src/images/headerimg/search2.svg" alt="search" height="12" width="12">
        </button>
      </div>
      <p class="search__nofind">Search result not successful. Enter the correct movie name and </p>
    </div>
    </div>
  </div>
</header>
