<header>
  <div class="headar__contaiter">
    <div class="navlogo-search__container container">
      <div class="navlogo__container">
        <a href="./index.html" class="logo">
          <svg class="logo__img" width="24px">
            <use href="./images/sprite.svg#logo"></use>
          </svg>
          <span class="logo__text">Filmoteka</span>
        </a>
        <nav class="navlink">
          <ul class="navlink__list">
            <li class="navlink__item actual__page">
              <a href="./index.html">Home</a>
            </li>
            <li class="navlink__item">
              <a href="./library.html">My library</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="search__container">
        <form class="search__inputbutton">
          <input type="text" class="search__input" placeholder="Movie search" />
          <button type="submit" class="search__button">
            <svg class="logo__img" width="15px">
              <use href="./images/sprite.svg#search2"></use>
            </svg>
          </button>
        </form>
        <p class="search__nofind visually-hidden">
          Search result not successful. Enter the correct movie name and
        </p>
      </div>
    </div>
  </div>
</header>
