<header>
  <div class="headar-library__contaiter container">
    <div class="navlogo-search__container">
        <div class="navlogo__container">
        <a href="/src/index.html" class="logo">
          <img class="logo__img" src="/src/images/headerimg/film.png" alt="logo" height="24" width="24">
          <span class="logo__text">Filmoteka</span>
        </a>
      <nav class="navlink">
        <ul class="navlink__list">
          <li class="navlink__item"><a href="/src/index.html">Home</a></li>
          <li class="navlink__item actual__page"><a href="/src/library.html">My library</a></li>
        </ul>
      </nav>
    </div>
    <div class="buttons__container">
      <ul class="buttons__list">
        <li class="buttons__item"><button>Watched</button></li>
        <li class="buttons__item"><button>Queue</button></li>
      </ul>
    </div>
    </div>
  </div>
</header>
