<header>
  <div class="headar-library_contaiter">
    <div class="navlogo-search_container">
        <div class="navlogo_container">
        <a href="/src/index.html" class="logo">
          <img class="logo_img" src="/src/images/headerimg/film.png" alt="logo" height="24" width="24">
          <span class="logo_text">Filmoteka</span>
        </a>
      <nav class="navlink">
        <ul class="navlink_list">
          <li class="navlink_item"><a href="">Home</a></li>
          <li class="navlink_item actual_page"><a href="/src/library.html">My library</a></li>
        </ul>
      </nav>
    </div>
    <div class="buttons_container">
      <ul class="buttons_list">
        <li class="buttons_item"><button>Watched</button></li>
        <li class="buttons_item"><button>Queue</button></li>
      </ul>
    </div>
    </div>
  </div>
</header>
