<div class="overlay visually-hidden">
  <section class="modal hidden">
    <button type="button" class="modal__button-cls">
      <svg height="30" width="30" class="modal__icon">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal__poster">
      <img
        class="modal__image"
        src="./images/movie-poster.jpg"
        alt="Movie Poster"
      />
    </div>
    <div class="modal__information" data-filmid="5">
      <h1 class="modal__title">A FISTFUL OF LEAD</h1>
      <table class="modal__table">
        <tr class="modal__tr">
          <td class="modal__td">Vote / Votes</td>
          <td class="modal__td-right">
            <span class="modal__vote">7.3</span>
            / <span class="modal__votes">1260</span>
          </td>
        </tr>
        <tr class="modal__tr">
          <td class="modal__td">Popularity</td>
          <td class="modal__td-right">100.2</td>
        </tr>
        <tr class="modal__tr">
          <td class="modal__td">Original Title</td>
          <td class="modal__td-right">A FISTFUL OF LEAD</td>
        </tr>
        <tr class="modal__tr">
          <td class="modal__td">Genre</td>
          <td class="modal__td-right">Western</td>
        </tr>
      </table>
      <h2 class="modal__description">About</h2>
      <p class="modal__text">
        Four of the West’s most infamous outlaws assemble to steal a huge stash
        of gold from the most corrupt settlement of the gold rush towns. But not
        all goes to plan one is killed and the other three escapes with bags of
        gold hide out in the abandoned gold mine where they happen across
        another gang of three – who themselves were planning to hit the very
        same bank! As tensions rise, things go from bad to worse as they realise
        the bags of gold are filled with lead... they’ve been double crossed –
        but by who and how?
      </p>
      <div class="modal__flex">
        <button
          class="modal__button modal__button--watched js-active"
          type="button"
        >
          add to Watched
        </button>
        <button
          class="modal__button modal__button--queue js-active"
          type="button"
        >
          add to queue
        </button>
      </div>
    </div>
  </section>
</div>
