<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Undefined team</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../sass/presentation/_present.scss" />
  </head>
  <body>
    <section>
      <h2 class="visually-hidden">Presentation</h2>
      <div class="third-backdrop backdrop__press">
        <button class="third-btn__press btn__press" type="button">
          Let`s start!
        </button>
      </div>
      <div class="second-backdrop backdrop__press">
        <div class="sec-press__header">
          <p class="sec-press__header--text">Ось як я дивлюся на бізнес: великі справи не робляться однією людиною,
          вони здійснюються командою. (Стів Джобс)</p>
        </div>
        <ul class="backdrop__press--list">
          <li>
            <img src="../images/teamlead.jpg" width="200px" alt="" />
            <div><p></p></div>
          </li>
          <li>
            <img src="../images/scrum.jpg" width="200px" alt="" />
            <div><p></p></div>
          </li>
          <li>
            <img src="../images/dev.jpg" width="200px" alt="" />
            <div><p></p></div>
          </li>
          <li>
            <img src="../images/dev2.jpg" width="200px" alt="" />
            <div><p></p></div>
          </li>
          <li>
            <img src="../images/dev3.jpg" width="200px" alt="" />
            <div><p></p></div>
          </li>
          <!-- <li>
				<img src="" alt="">
				<div><p></p></div>
			</li>
			<li>
				<img src="" alt="">
				<div><p></p></div>
			</li>
			<li>
				<img src="" alt="">
				<div><p></p></div>
			</li>
			<li>
				<img src="" alt="">
				<div><p></p></div>
			</li>
			<li>
				<img src="" alt="">
				<div><p></p></div>
			</li>
			<li>
				<img src="" alt="">
				<div><p></p></div>
			</li>
			<li>
				<img src="" alt="">
				<div><p></p></div>
			</li> -->
        </ul>
        <button class="second-btn__press btn__press" type="button">Next</button>
      </div>

      <div class="first-backdrop backdrop__press">
        <img class="image" src="../images/undefined.jpg" hidden alt="" />
        <button class="first-btn__press btn__press" type="button">
          Let`s start!
        </button>
      </div>
    </section>
    <script src="../js/presentation.js"></script>
  </body>
</html>
