// Container Gallery
.gallery {
  padding-top: 20px;
  padding-bottom: 20px;
  // padding-left: 20px;
  // padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  // Tablet
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
    // padding-left: 32px;
    // padding-right: 32px;
    gap: 32px;
  }

  // Desktop
  @media screen and (min-width: 1280px) {
    // padding-left: 32px;
    // padding-right: 32px;
    gap: 16px;
  }
}


// .cont_gallery {
// padding-left: 0px;
// padding-right: 0px;
// }


// Gallery background
.gallery-bg {
  background-color: var(--container-bg);
}

// Заглушка
.gallery_pin {
  text-align: center;
  font-size: 50px;
  height: 50vh;
}
