// Container Gallery
.gallery {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;

  // Tablet
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 32px;
    padding-right: 32px;
    justify-content: space-around;
  }

  // Desktop
  @media screen and (min-width: 1280px) {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
  }
}


.cont_gallery {
padding-left: 0px;
padding-right: 0px;
}

// Gallery background
.gallery-bg {
background-color: var(--container-bg);
}


// Card position
.movie-card {
  max-width: 359px;
  margin: 15px;
  margin-bottom: 32px;
  flex-basis: calc((100% - 3 * 30px) / 1); 

// Tablet
  @media screen and (min-width: 768px) {
  flex-basis: calc((100% - 3 * 30px) / 2); 
  }
// Desktop
  @media screen and (min-width: 1280px) {
  flex-basis: calc((100% - 3 * 30px) / 3);
  }
}
