// Container Gallery
.gallery {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  // Desktop
  // Tablet
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 32px;
    padding-right: 32px;
    justify-content: space-around;
  }

  // Desktop
  @media screen and (min-width: 1280px) {
    padding-left: 32px;
    padding-right: 32px;
    justify-content: space-around;
  }
}

.cont_gallery {
  padding-left: 0px;
  padding-right: 0px;
}

// Gallery background
.gallery-bg {
  background-color: var(--container-bg);
}

// Заглушка
.gallery_pin {
  text-align: center;
  font-size: 50px;
  height: 50vh;
}

// Card position
.movie-card {
  max-width: 359px;
  margin: 15px;
  margin-bottom: 32px;
}
