.card {
  flex-basis: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  cursor: pointer;

  @media screen and(min-width:768px) {
    flex-basis: calc((100% - 32px * (2 - 1)) / 2);
  }
  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% - 16px * (3 - 1)) / 3);
    font-size: 20px;
    line-height: 1.2;
  }
}

.card__pic {
  border-radius: 5px;
  width: auto;
  height: 100%;

  @media screen and(min-width:768px) {
    width: 336px;
    height: 455px;
  }
  @media screen and(min-width:1280px) {
    width: 395px;
    height: 574px;
  }
}

.card__information {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;

  @media screen and(min-width: 768px) {
    margin-top: 8px;
  }
  @media screen and(min-width: 1280px) {
    margin-top: 12px;
  }
}

.card__film-name {
  text-transform: uppercase;
}

.card__additional-information {
  display: flex;
  align-items: baseline;
  color: var(--accent-color);
}

.card__rating {
  color: #ffffff;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
.card__rating-background {
  background-color: #ff6b01;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 36px;
  height: 16px;
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;

  @media screen and(min-width: 768px) {
    width: 36px;
    height: 16px;
  }
  @media screen and(min-width: 1280px) {
    width: 40px;
    height: 20px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}
